.nav-link{
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;
    color: rgb(7, 71, 166);
}

.nav-link:focus, .nav-link:active {
    background-color: rgb(7, 71, 166);
    color: white; 
}

.company-img {
    max-width: 100%;
}

.company-name {
    color: rgb(7, 71, 166);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase; 

    margin-bottom: -5px;
}

.company-domain {
    color: rgb(7, 71, 166);
    font-size: 14px;
}

.fire-button {
    margin-top: 1rem;
    text-transform: uppercase; 

    border-color: rgb(7, 71, 166);
    color: rgb(7, 71, 166);
}

.fire-button:active{
    background-color: rgb(7, 71, 166);
    color: white;
}
    
.fire-button:hover{
    background-color: rgb(7, 71, 166);
    color: white;
}
.fire-button:focus{
    background-color: rgb(7, 71, 166);
    color: white;
    outline: none;
}

.nav > .active {
    background-color: rgb(7, 71, 166);
}