/* Nav */

.nav-link{
    color: var(--default-blue);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;
    color: var(--default-blue);
}

.nav-link:focus, .nav-link:active {
    background-color: var(--default-blue);
    color: white; 
}

.nav .active {
    background-color: var(--default-blue);
}

.tab-content {
    margin-left: 15px;
    width: calc(100% - 30px);
}

/* Company */

.company-container {
    background-color: white;
    margin-bottom: 75px;

    min-height: 70%;
}

.company-container img {
    max-width: 100px;
    height: auto;
}

.company-container h3 {
    color: var(--default-blue);
    padding-top: 15px;
}

/* Settings */

.upload-file-container {
    height: 200px;
    width: 100%;
    border: 2px dashed var(--default-blue);
    border-radius: 10px;
}

.upload-file-container:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
}

.upload-file-container .upload-none {
    display: none;
}

.upload-file-container .upload-full-size-btn {
    display: block;
    width: 100%;
    height: 100%;

    opacity: 0;
}

.upload-file-text {
    width: 100%;
    color: gray;
    font-size: 1.3rem;
    text-align: center;
    margin-top: -125px
}

.uploaded-file-container {
    width: 100%;
    height: 50px;

    font-size: 18px;

    border: 2px dashed var(--default-blue);
    border-radius: 10px;

    margin-top: 15px;
    padding-top: 8.5px;
    padding-left: 15px;
}

.delete-btn-custom {

    margin-left: calc(100% - 55px);
    margin-top: -55px;
}