<app-navigator></app-navigator>

<div class="container">
    <div class="row">
        <h2 class="component-title">Company</h2>
    </div>
</div>

<div class="container company-container" *ngIf="hasLoaded">
    <img [src]="convertToBase64(image$ | async)" *ngIf="image$ != null" class="margin-top-lg margin-bottom-lg">
    <h3 *ngIf="image$ == null" class="margin-top-lg">{{company.name}}</h3>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-employees-tab" data-toggle="pill" href="#pills-employees" role="tab" aria-controls="pills-employees" aria-selected="true">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="false">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-invite-tab" data-toggle="pill" href="#pills-invite" role="tab" aria-controls="pills-invite" aria-selected="false">Invite</a>
        </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-employees" role="tabpanel" aria-labelledby="pills-employees-tab">
            <p>Your employees got a balance of {{sumOfBalance}}€ together.</p>

            <div *ngFor="let employee of employees$ | async" class="employee-container">
                <p class="no-space margin-left-sm">{{employee.firstname}} {{employee.lastname}}</p>
                <p class="no-space margin-left-sm">{{employee.email}}</p>
                <p class="no-space margin-left-sm" *ngIf="employee.admin">Role: Admin</p>
                <p class="no-space margin-left-sm" *ngIf="!employee.admin">Role: Employee</p>
                <div class="form-group margin-left-sm custom-width">
                    <input class="input" id="inputBalance" type="number" min="1" step="1" max="30" class="form-field" [value]="employee.balance" placeholder=" " (focusout)="addToUpdateList(employee, $event)">
                    <label for="inputBalance" class="form-label">Balance</label>
                </div>
                <a (click)="addBalance(employee, 1)">
                    <button type="button" class="btn btn-primary btn-custom margin-left-sm margin-top-lg margin-bottom-sm">
                        Add 1€
                    </button>
                </a>
                <a (click)="addBalance(employee, 5)">
                    <button type="button" class="btn btn-primary btn-custom margin-left-sm margin-top-lg margin-bottom-sm">
                        Add 5€
                    </button>
                </a>
                <a (click)="promote(employee)">
                    <button type="button" class="btn btn-primary btn-custom margin-left-sm margin-top-lg margin-bottom-sm">
                        promote
                    </button>
                </a>
            </div>

            <a (click)="updateEmployees()">
                <button type="button" class="btn btn-primary btn-custom margin-left-sm margin-top-sm margin-bottom-lg">
                    Update employees
                </button>
            </a>
        </div>
            
        <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
            <div class="form-group">
                <input class="input" id="inputName" type="text" class="form-field" [value]="company.name" placeholder=" " (focusout)="focusoutHandler($event)">
                <label for="inputName" class="form-label">Name</label>
            </div>
            <div class="form-group">
                <input class="input" id="inputDomain" type="text" class="form-field" [value]="company.domain" placeholder=" " (focusout)="focusoutHandler($event)">
                <label for="inputDomain" class="form-label">Domain</label>
            </div>
            <div class="form-group">
                <input class="input" id="inputAmount" type="number" min="0" class="form-field" [value]="company.payAmount" placeholder=" " (focusout)="focusoutHandler($event)">
                <label for="inputAmount" class="form-label">Payout amount</label>
            </div>
            <div class="form-group">
                <input class="input" id="inputPayoutDay" type="number" min="1" step="1" max="30" class="form-field" [value]="company.payInterval" placeholder=" " (focusout)="focusoutHandler($event)">
                <label for="inputPayoutDay" class="form-label">Payout day</label>
            </div>
            <label class="checkbox">Invite only
                <input type="checkbox" [checked]="company.inviteOnly" (change)="company.inviteOnly= !company.inviteOnly">
                <span class="checkmark"></span>
            </label>
            <div class="upload-file-container"
                appDragDrop
                (dropped)="onDrop($event)">
                <input class="upload-none" type="file" id="file" (change)="onDrop($event.target.files)">
                <input class="upload-full-size-btn" type="button" onclick="document.getElementById('file').click();"/>
                <p class="upload-file-text">Drop files here or click to upload.</p>
            </div>
            <div class="uploaded-file-container" *ngIf="fileToUpload != null">
                <span>{{fileToUpload.name}}</span>
                <a (click)="deleteFile()">
                    <button type="button" class="btn btn-primary btn-custom">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
            <a (click)="saveSettings()">
                <button type="button" class="btn btn-primary btn-custom margin-top-sm margin-bottom-lg">
                    Update company
                </button>
            </a>
            <p class="success margin-top-sm padding-bottom-lg" *ngIf="hasUpdated != undefined && hasUpdated">Profile successfully updated.</p>
            <p class="failure margin-top-sm padding-bottom-lg" *ngIf="hasUpdated != undefined && !hasUpdated">Profile failed to updated. {{errorString}}</p>
        </div>

        <div class="tab-pane fade" id="pills-invite" role="tabpanel" aria-labelledby="pills-invite-tab">
            <div class="form-group">
                <input class="input" id="inputInviteEmail" type="email" class="form-field" placeholder=" " (focusout)="focusoutHandlerInvite($event)">
                <label for="inputInviteEmail" class="form-label">Email</label>
            </div>
            <a (click)="invite()">
                <button type="button" class="btn btn-primary btn-custom margin-top-sm margin-bottom-lg">
                    Invite employee
                </button>
            </a>
            <p class="success margin-top-sm padding-bottom-lg" *ngIf="hasInvited != undefined && hasInvited">{{this.inviteEmail}} successfully invited.</p>
            <p class="failure margin-top-sm padding-bottom-lg" *ngIf="hasInvited != undefined && !hasInvited">Failed to invite {{this.inviteEmail}}. {{errorStringInvite}}</p>
        </div>
    </div>
</div>