/* Nav */

.nav-link{
    color: var(--default-blue);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;
    color: var(--default-blue);
}

.nav-link:focus, .nav-link:active {
    background-color: var(--default-blue);
    color: white; 
}

.nav .active {
    background-color: var(--default-blue);
}

.tab-content {
    margin-left: 15px;
    width: calc(100% - 30px);
}

/* Company */

.company-container {
    background-color: white;
}

.company-container img {
    max-width: 100px;
    height: auto;
}

.company-container h3 {
    color: var(--default-blue);
    padding-top: 15px;
}

.company-container p {
    margin-top: -15px;
}