.nav-link{
    color: var(--default-blue);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;
    color: var(--default-blue);
}

.nav-link:focus, .nav-link:active {
    background-color: var(--default-blue);
    color: white; 
}

.nav .active {
    background-color: var(--default-blue);
}

.profile-name {
    color: var(--default-blue);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase; 

    margin-bottom: -5px;
}

.profile-email {
    color: var(--default-blue);
    font-size: 14px;
}