<div class="container">
  <div class="row">
    <h2 class="component-title">Dashboard</h2>
  </div>
  <div class="row">
     <div class="col-md-4 mb30">
         <div class="card-block shadow-sm">
             <div class="card-img">
                 <img src="http://via.placeholder.com/296x211">
             </div>
             <div class="card-content">
              <h5 class="card-title">Lorem ipsum</h5>
                <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lectus lectus, tristique non lobortis id, malesuada nec sem. Suspendisse id elementum dolor. Mauris vitae nibh finibus, imperdiet leo efficitur, consequat metus. Proin sit amet commodo quam. Aliquam at efficitur purus. Phasellus a lectus rutrum, congue enim ac, ullamcorper lectus. Pellentesque nec ipsum efficitur, tincidunt tortor facilisis, posuere purus.</p>
                <div class="raised-goal-container">
                  <span>
                    <span class="raised-text">Raised: </span>
                    <span class="raised-value">0€</span>
                  </span>
                  <span>
                    <span class="goal-text">Goal: </span>
                    <span class="goal-value">100€</span>
                  </span>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 25%;">25%</div>
                </div>
                <button routerLink="/investment/1" type="button" class="btn btn-outline-primary card-button">View details</button>
             </div>
         </div>
     </div>
  </div>
</div>