<app-navigator></app-navigator>

<div class="container">
    <div class="row">
        <h2 class="component-title">Dashboard</h2>
    </div>
    <div class="row">
        <div class="col-md-4 mb30" *ngFor="let project of projects$ | async">
            <a class="card-a" (click)="openProject(project)">
                <div class="card-block shadow-sm" *ngIf="!project.reached">
                    <div class="card-img">
                        <img *ngIf="project.image == null" src="./app/assets/image.png">
                        <img *ngIf="project.image != null" [src]="convertToBase64(project.image)">
                    </div>
                    <div class="card-content">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-desc">{{sliceDesc(project.description)}}</p>
                        <div class="raised-goal-container">
                            <span>
                        <span class="raised-text">Raised: </span>
                            <span class="raised-value">{{project.investedIn | numberFormat}}€</span>
                            </span>
                            <span>
                        <span class="goal-text">Goal: </span>
                            <span class="goal-value">{{project.goal | numberFormat}}€</span>
                            </span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="calculateWidth(project)">{{((project.investedIn / project.goal) * 100) | number : '1.2-2' | numberFormat}}%
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <h2 class="component-title">Finished projects</h2>
    </div>
    <div class="row">
        <div class="col-md-4 mb30" *ngFor="let project of projects$ | async">
            <a class="card-a" (click)="openProject(project)">
                <div class="card-block shadow-sm" *ngIf="project.reached">
                    <div class="card-img">
                        <img *ngIf="project.image == null" src="./app/assets/image.png">
                        <img *ngIf="project.image != null" [src]="convertToBase64(project.image)">
                    </div>
                    <div class="card-content">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-desc">{{sliceDesc(project.description)}}</p>
                        <div class="raised-goal-container">
                            <span>
                    <span class="raised-text">Raised: </span>
                            <span class="raised-value">{{project.investedIn | numberFormat}}€</span>
                            </span>
                            <span>
                    <span class="goal-text">Goal: </span>
                            <span class="goal-value">{{project.goal | numberFormat}}€</span>
                            </span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [style.width.%]="calculateWidth(project)">{{((project.investedIn / project.goal) * 100) | numberFormat}}%
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>