.card-block { 
    background-color: #ffffff; 
    padding: 30px;
    margin-bottom: 30px;

    overflow: hidden;
}

.card-a {
    cursor: pointer;
}

.card-content { 
    text-align: left; 
}

.card-title { 
    margin-bottom: 5px; 

    color: var(--default-blue);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
}

.card-desc { 
    display: block; 
    letter-spacing: 1px; 
    margin-bottom: 15px; 
    font-size: 14px; 
}

.card-img > img { 
    width: 100%; 
    margin-bottom: 30px; 
}

.raised-goal-container {
    display: flex;
    justify-content: space-between;
}

.raised-text {
    color: var(--default-blue);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.goal-text {
    color: var(--default-blue);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.progress {
    border-radius: 0;
}

.progress-bar {
    background-color: var(--default-blue);
}