/* Nav -- START */
/* Nav -- START */
/* Nav -- START */

.navbar-brand {
  color: var(--default-blue);
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase; 
}

.navbar-brand:hover {
  color: var(--hover-blue);
}

.navbar-toggler{
  width: 50px;
  height: 40px;
  background-color: transparent;

  border: none;

  padding-top: 10px;
}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus { 
  outline: none; 
  border-style: none; 
}

.navbar-toggler .line{
  width: 25px;
  float: left;
  height: 2px;
  background-color: var(--default-blue);
  margin-bottom: 5px;

  transition: all .3s ease-in-out;
}

.navbar-toggle .line-top {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .line-middle {
  opacity: 0;
}

.navbar-toggle .line-bottom {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .line-top {
  transform: rotate(0);
}

.navbar-toggle.collapsed .line-middle {
  opacity: 1;
}

.navbar-toggle.collapsed .line-bottom {
  transform: rotate(0);
}

.nav-link-custom {
  color: var(--default-blue);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; 
}

.nav-link-custom:hover {
  color: var(--hover-blue);
}

.nav-btn-custom {
  color: var(--white);
  background-color: var(--default-blue);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase; 
}

.nav-btn-custom:active {
  background-color: var(--hover-blue);
}

.nav-btn-custom:hover {
  background-color: var(--hover-blue);
}

.nav-btn-custom:focus {
  background-color: var(--hover-blue);
}

/* Nav -- END */
/* Nav -- END */
/* Nav -- END */

/* Dropdown -- Start */
/* Dropdown -- Start */
/* Dropdown -- Start */

.dropdown-toggle-hide:after { 
  content: none 
}

.dropdown-menu-custom {
  width: 500px;
}

.dropdown-tab-icon {
  width: 35px;
  height: 35px;
  background-color: var(--default-blue);
  color: var(--white);

  border-radius: 100px;

  margin-left: 50px;
  margin-top: 25px;
}

.dropdown-tab-icon > i {
  margin-top: 9px;
  margin-left: 11.5px;
}

.dropdown-tab-text {
  width: 65%;
}

.dropdown-underlined-text {
  color: var(--default-blue);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; 

  margin-top: 25px;
  margin-left: 10px;
}

.dropdown-underline {
  height: 3px;
  background-color: var(--default-blue);

  margin-left: 10px;
  margin-top: 2px;
}

.dropdown-content {
  width: 65%;
  margin-left: 95px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.dropdown-content > p {
  color: rgb(30, 30, 30);
}

.dropdown-btn-custom {
  color: var(--white);
  background-color: var(--default-blue);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-color: var(--default-blue);
}

.dropdown-btn-custom:active {
  background-color: var(--hover-blue);
}

.dropdown-btn-custom:hover {
  background-color: var(--hover-blue);
}

.dropdown-btn-custom:focus {
  background-color: var(--hover-blue);
}

.dropdown-btn-logout {
  padding-left: 15px;
}

.dropdown-question {
  color: var(--default-blue) !important;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.dropdown-answer {
  color: var(--font-black-sub);
}

.dropdown-right {
  padding-top: 15px;
}

@media only screen and (max-width: 1200px) {
  .dropdown-menu-custom {
      width: 102%;
      margin-bottom: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .dropdown-underline {
      width: 80%;
  }

  .dropdown-content > p {
      width: 80%;
  }
}