<app-navigator></app-navigator>

<div class="container">
    <div class="row">
        <h2 class="component-title">Create project</h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <form>
                        <div class="form-group">
                            <input class="input" id="inputLink" type="text" class="form-field" placeholder=" " (focusout)="focusoutHandler($event)">
                            <label for="inputLink" class="form-label">Product link</label>
                            <span class="required" *ngIf="!isLinkThere"> This field is required</span>
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputTitle" type="text" class="form-field" placeholder=" " (focusout)="focusoutHandler($event)">
                            <label for="inputTitle" class="form-label">Title</label>
                            <span class="required" *ngIf="!isTitleThere"> This field is required</span>
                        </div>
                        <div class="form-group">
                            <textarea id="inputDescription" class="form-field" placeholder=" " rows="6" (focusout)="focusoutHandler($event)"></textarea>
                            <label for="inputDescription" class="form-label">Description</label>
                            <span class="required" *ngIf="!isDescriptionThere"> This field is required</span>
                        </div>
                        <div class="form-group">
                            <input class="input" id="inputGoal" type="number" class="form-field" placeholder=" " (focusout)="focusoutHandler($event)">
                            <label for="inputGoal" class="form-label">Goal</label>
                            <span class="required" *ngIf="!isGoalThere"> This field is required/unvalid</span>
                        </div>
                        <div class="upload-file-container"
                            appDragDrop
                            (dropped)="onDrop($event)">
                            <input class="upload-none" type="file" id="file" (change)="onDrop($event.target.files)">
                            <input class="upload-full-size-btn" type="button" onclick="document.getElementById('file').click();"/>
                            <p class="upload-file-text">Drop files here or click to upload.</p>
                        </div>
                        <div class="uploaded-file-container" *ngIf="fileToUpload != null">
                            <span>{{fileToUpload.name}}</span>
							<a (click)="deleteFile()">
								<button type="button" class="btn btn-primary btn-custom">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</button>
							</a>
                        </div>
                        <br>
                        <a (click)="fire()">
                            <button type="button" class="btn btn-primary upload-btn-custom">
                                Create project
                            </button>
                        </a>
                        <p class="margin-text-top success" *ngIf="hasCreated != undefined && hasCreated">Project successfully created.</p>
                        <p class="margin-text-top failure" *ngIf="hasCreated != undefined && !hasCreated">Project failed to create. {{errorString}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>