.nav-link{
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;
    color: rgb(7, 71, 166);
}

.nav-link:focus, .nav-link:active {
    background-color: rgb(7, 71, 166);
    color: white; 
}

.nav > .active {
    background-color: rgb(7, 71, 166);
}

/* Drag and drop */

.upload-file-container {
    height: 200px;
    width: 100%;
    border: 2px dashed var(--default-blue);
    border-radius: 10px;
}

.upload-file-container:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
}

.upload-file-container .upload-none {
    display: none;
}

.upload-file-container .upload-full-size-btn {
    display: block;
    width: 100%;
    height: 100%;

    opacity: 0;
}

.upload-file-text {
    width: 100%;
    color: gray;
    font-size: 1.3rem;
    text-align: center;
    margin-top: -125px
}

.uploaded-file-container {
    width: 100%;

    font-size: 18px;

    border: 2px dashed var(--default-blue);
    border-radius: 10px;

    margin-top: 15px;
    padding-top: 15px;
    padding-left: 5px;
}

.upload-btn-custom {
    color: var(--white);
    background-color: var(--default-blue);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-color: var(--default-blue);
}
  
.upload-btn-custom:active {
    background-color: var(--hover-blue);
}
  
.upload-btn-custom:hover {
    background-color: var(--hover-blue);
}
  
.upload-btn-custom:focus {
    background-color: var(--hover-blue);
}