.nav-link{
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;
    color: rgb(7, 71, 166);
}

.nav-link:focus, .nav-link:active {
    background-color: rgb(7, 71, 166);
    color: white; 
}

.fire-button {
    margin-top: 1rem;
    text-transform: uppercase; 

    border-color: rgb(7, 71, 166);
    color: rgb(7, 71, 166);
}

.fire-button:active{
    background-color: rgb(7, 71, 166);
    color: white;
}
    
.fire-button:hover{
    background-color: rgb(7, 71, 166);
    color: white;
}
.fire-button:focus{
    background-color: rgb(7, 71, 166);
    color: white;
    outline: none;
}

.required {
    color: red;
    font-size: 12px;
}

/* Preview */
.img-preview {
    max-width: 100%
}

.creator {
    height: 20%;
}

.raised {
    padding-left: 45px;

    width: 95%;
}

.raised > p , .raised > span{
    color: rgb(153, 153, 153);
}

.alert-light {
    border-color: rgb(153, 153, 153);
}

.comment-text {
    color: rgb(90, 90, 90);
}

.comment-creator {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.creator > .alert > img {
    max-height: 100%;
}

.creator-text {
    color: rgb(7, 71, 166);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
}

.raised-goal-container {
    display: flex;
    justify-content: space-between;
}

.raised-text {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.goal-text {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.progress {
    border-radius: 0;
}

.progress-bar {
    background-color: rgb(7, 71, 166);
}

.title {
    color: rgb(7, 71, 166);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase; 
}

.desc {
    color: rgb(90, 90, 90);
}

@media only screen and (max-width: 768px) {
    .creator {
        padding-top: 15px;
    }

    .funding {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .funding {
        padding-top: 15px;
    }
}

/* Card Preview */
.card-block { 
    background-color: #ffffff; 
    padding: 30px;
    margin-bottom: 30px;
}

.card-content { 
    text-align: left; 
}

.card-title { 
    margin-bottom: 5px; 
    text-transform: uppercase; 
}

.card-desc { 
    display: block; 
    letter-spacing: 1px; 
    margin-bottom: 15px; 
    font-size: 12px; 
}

.card-img > img { 
    width: 100%; 
    margin-bottom: 30px; 
}

.raised-goal-container {
    display: flex;
    justify-content: space-between;
}

.raised-text {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.goal-text {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.progress {
    border-radius: 0;
}

.progress-bar {
    background-color: rgb(7, 71, 166);
}

.card-button {
    margin-top: 1rem;
    text-transform: uppercase; 

    border-color: rgb(7, 71, 166);
    color: rgb(7, 71, 166);
}

.card-button:active{
    background-color: rgb(7, 71, 166);
    color: white;
}
    
.card-button:hover{
    background-color: rgb(7, 71, 166);
    color: white;
}
.card-button:focus{
    background-color: rgb(7, 71, 166);
    color: white;
    outline: none;
}