.img-preview {
    max-width: 100%
}

.creator {
    height: 20%;
}

.raised {
    padding-left: 45px;

    width: 95%;
}

.raised > p , .raised > span{
    color: rgb(153, 153, 153);
}

.alert-light {
    border-color: rgb(153, 153, 153);
}

.comment-text {
    color: rgb(90, 90, 90);
}

.comment-creator {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.creator > .alert > img {
    max-height: 100%;
}

.creator-text {
    color: rgb(7, 71, 166);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; 
}

.raised-goal-container {
    display: flex;
    justify-content: space-between;
}

.raised-text {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.goal-text {
    color: rgb(7, 71, 166);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; 
}

.progress {
    border-radius: 0;
}

.progress-bar {
    background-color: rgb(7, 71, 166);
}

.title {
    color: rgb(7, 71, 166);
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase; 
}

.desc {
    color: rgb(90, 90, 90);
}

@media only screen and (max-width: 768px) {
    .creator {
        padding-top: 15px;
    }

    .funding {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 991px) {
    .funding {
        padding-top: 15px;
    }
}