<app-navigator></app-navigator>

<div class="container" *ngIf="project != null">
    <div class="row">
        <h2 class="component-title">
            Project
        </h2>
    </div>
    <div class="row" *ngIf="project.reached">
        <div class="col">
            <div class="alert alert-success w-100" role="alert">
                Project has been successfully funded.
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!project.reached && projectState">
        <div class="col">
            <div class="alert alert-warning w-100" role="alert">
                Project is close to completion.
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!project.reached && !projectState">
        <div class="col">
            <div class="alert alert-info w-100" role="alert">
                Project is still in progress.
            </div>
        </div>
    </div>
</div>

<div class="container project-content" *ngIf="project != null">
    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-project-tab" data-toggle="pill" href="#pills-project" role="tab" aria-controls="pills-project" aria-selected="true">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-comments-tab" data-toggle="pill" href="#pills-comments" role="tab" aria-controls="pills-comments" aria-selected="false">Comments</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-project" role="tabpanel" aria-labelledby="pills-project-tab">
                
            </div>
            
            <div class="tab-pane fade" id="pills-comments" role="tabpanel" aria-labelledby="pills-comments-tab">
                <div class="comment" *ngFor="let comment of comments; index as i">
                    <img class="rounded-circle" src="http://via.placeholder.com/35x35">
                    <span class="comment-creator margin-text-left">{{(commentEmployees$[i] | async)?.firstname}} {{(commentEmployees$[i] | async)?.lastname}}</span>
                    <p class="comment-text">{{comment.text}}</p>
                    <hr>
                </div>
                <div class="form-group">
                    <textarea id="inputComment" class="form-field" placeholder=" " rows="3" (focusout)="focusoutHandler($event)"></textarea>
                    <label for="inputComment" class="form-label">What are your thoughts on that?</label>
                </div>
                <a (click)="commentProject(project)">
                    <button type="button" class="btn btn-primary btn-custom">
                        Write comment
                    </button>
                </a>
                <p class="margin-text-top success" *ngIf="hasCreated != undefined && hasCreated">Comment successfully created.</p>
                <p class="margin-text-top failure" *ngIf="hasCreated != undefined && !hasCreated">Comment failed to create. {{errorStringComment}}</p>
            </div>
        </div>
    </div>
</div>