/* Imports -- START */
/* Imports -- START */
/* Imports -- START */

@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');

/* Imports -- END */
/* Imports -- END */
/* Imports -- END */

/* Vars -- START */
/* Vars -- START */
/* Vars -- START */

:root {
    --white: rgb(244,244,244);
    --hover-white: rgb(220, 220, 220);
    --gray: rgb(51, 51, 51);
    --font-black: rgb(0, 0, 0);
    --font-black-sub: rgba(0, 0, 0, 0.75);
    --default-blue: rgb(51, 104, 240);
    --hover-blue: rgb(7, 71, 166);
}

/* Vars -- END */
/* Vars -- END */
/* Vars -- END */

/* Body -- Start */
/* Body -- Start */
/* Body -- Start */

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(248, 249, 250);
    font-family: 'Kulim Park', Roboto, 'Helvetica Neue', sans-serif !important;
}

/* Body -- End */
/* Body -- End */
/* Body -- End */

/* Generic -- Start */
/* Generic -- Start */
/* Generic -- Start */

.margin-text-left {
    margin-left: 1rem;
}

.margin-text-right {
    margin-right: 1rem;
}

.margin-text-top {
    margin-top: 1rem;
}

.margin-px-left-sm {
    margin-left: 5px
}

.margin-px-right-sm {
    margin-right: 5px
}

.margin-px-bottom-lg {
    margin-bottom: 15px;
}

.margin-left-sm {
    margin-left: 5px;
}

.margin-top-sm {
    margin-top: 5px;
}

.margin-right-sm {
    margin-right: 5px;
}

.margin-bottom-sm {
    margin-bottom: 5px;
}

.margin-left-mdl {
    margin-left: 10px;
}

.margin-top-mdl {
    margin-top: 10px;
}

.margin-right-mdl {
    margin-right: 10px;
}

.margin-bottom-mdl {
    margin-bottom: 10px;
}

.margin-left-lg {
    margin-left: 25px;
}

.margin-top-lg {
    margin-top: 25px;
}

.margin-right-lg {
    margin-right: 25px;
}

.margin-bottom-lg {
    margin-bottom: 25px;
}

.margin-top {
    margin-top: 88px;
}

/* Padding */

.padding-left-sm {
    padding-left: 5px;
}

.padding-top-sm {
    padding-top: 5px;
}

.padding-right-sm {
    padding-right: 5px;
}

.padding-bottom-sm {
    padding-bottom: 5px;
}

.padding-left-mdl {
    padding-left: 10px;
}

.padding-top-mdl {
    padding-top: 10px;
}

.padding-right-mdl {
    padding-right: 10px;
}

.padding-bottom-mdl {
    padding-bottom: 10px;
}

.padding-left-lg {
    padding-left: 15px;
}

.padding-top-lg {
    padding-top: 15px;
}

.padding-right-lg {
    padding-right: 15px;
}

.padding-bottom-lg {
    padding-bottom: 15px;
}

.padding-top {
    margin-top: 88px;
}

.padding-bottom {
    margin-top: 88px;
}

.component-title{
    padding-top: 125px;
    padding-bottom: 15px;
    padding-left: 15px;

    color: var(--default-blue);
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase; 
}

.no-space {
    margin-bottom: -5px;
}

.hr {
    width: 100%;
    height: 0.5px;

    background-color: rgba(155, 155, 155, 0.75);
}

/* Generic -- End */
/* Generic -- End */
/* Generic -- End */

/* Response -- Start */
/* Response -- Start */
/* Response -- Start */

.required {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 12px;
}

.failure {
    color: red;
    font-size: 12px;
}

/* Response -- End */
/* Response -- End */
/* Response -- End */

/* Loading -- Start */
/* Loading -- Start */
/* Loading -- Start */

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #ddd;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

/* Loading -- End */
/* Loading -- End */
/* Loading -- End */

/* Form -- Start */
/* Form -- Start */
/* Form -- Start */

.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}
  
.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
  
.form-field::placeholder {
    color: transparent;
}
  
.form-field:placeholder-shown ~ .form-label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}
  
label,
.form-field:focus ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}
  
.form-field:focus ~ .form-label {
    color: rgb(7, 71, 166);
}
  
.form-field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(7, 71, 166);
}

/* Form -- End */
/* Form -- End */
/* Form -- End */